
<div class="container">



    
<!--
        <div class="blog--section pd--100-0-40">
        <div class="row">
            <div class="section--title">
                <h2 class="h2">Eski Cihazlarınızı Nakite Çevirmek İster misiniz ?</h2>
            </div>
            <div class="blog--content col-md-12 pb--60 float--right">
                <div class="row MasonryRow">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <a href="#/telefon-sat">
                            <div class="post--item sticky">
                                <div class="" style="width:350px;height:200px;display: block; margin: auto;">
                                  <picture>
                                      <img src="https://alsatminiode.com/api//resource/services/telefon.webp">
                                  </picture>  
                                                                  
                                </div>
                                <br>
                                <div class="post--content" style="text-align: center;font-size:20px;color:black">
                                    <p></p>
                                </div>
    
                                <div class="post--footer">
                                    <a href="#/telefon-sat" class="btn btn-default" style="font-size: 20px;color:black;background-color: grey;">Telefon Sat</a>
                                </div>
                            </div>
                        </a>


                    </div>     
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <a href="#/yakinda">
                            <div class="post--item sticky">
                                <div class="" style="width:350px;height:200px;display: block; margin: auto;">
                                  <picture>
                                      <img src="https://alsatminiode.com/api//resource/services/saat.webp">
                                  </picture>  
                                                                  
                                </div>
                                <br>
                                <div class="post--content" style="text-align: center;font-size:20px;color:black">
                                    <p></p>
                                </div>
    
                                <div class="post--footer">
                                    <a href="#/yakinda" class="btn btn-default" style="font-size: 20px;color:black;background-color: grey;">Akıllı Saat Sat</a>
                                </div>
                            </div>
                        </a>
                        
                    </div>  

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <a href="#/yakinda">
                            <div class="post--item sticky">
                                <div class="" style="width:350px;height:200px;display: block; margin: auto;">
                                  <picture>
                                      <img src="https://alsatminiode.com/api//resource/services/tablet.webp">
                                  </picture>  
                                                                  
                                </div>
                                <br>
                                <div class="post--content" style="text-align: center;font-size:20px;color:black">
                                    <p></p>
                                </div>
    
                                <div class="post--footer">
                                    <a href="#/yakinda" class="btn btn-default" style="font-size: 20px;color:black;background-color: grey;">Tablet Sat</a>
                                </div>
                            </div>
                        </a>
                        

                    </div> 

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <a href="#/yakinda">
                            <div class="post--item sticky">
                                <div class="" style="width:350px;height:200px;display: block; margin: auto;">
                                  <picture>
                                      <img src="https://alsatminiode.com/api//resource/services/dizustupc.webp">
                                  </picture>  
                                                                  
                                </div>
                                <br>
                                <div class="post--content" style="text-align: center;font-size:20px;color:black">
                                    <p></p>
                                </div>
    
                                <div class="post--footer">
                                    <a href="#/yakinda" class="btn btn-default" style="font-size: 20px;color:black;background-color: grey;">Dizüstü Bilgisayar Sat</a>
                                </div>
                            </div>
                        </a>
                        
                    </div> 

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <a href="#/yakinda">
                            <div class="post--item sticky">
                                <div class="" style="width:350px;height:200px;display: block; margin: auto;">
                                  <picture>
                                      <img src="https://alsatminiode.com/api//resource/services/robotsupurge.webp">
                                  </picture>  
                                                                  
                                </div>
                                <br>
                                <div class="post--content" style="text-align: center;font-size:20px;color:black">
                                    <p></p>
                                </div>
    
                                <div class="post--footer">
                                    <a href="#/yakinda" class="btn btn-default" style="font-size: 20px;color:black;background-color: grey;">Robot Süpürge Sat</a>
                                </div>
                            </div>
                        </a>
                        
                    </div> 

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                        <a href="#/yakinda">
                            <div class="post--item sticky">
                                <div class="" style="width:350px;height:200px;display: block; margin: auto;">
                                  <picture>
                                      <img src="https://alsatminiode.com/api//resource/services/oyunkonsolu.webp">
                                  </picture>  
                                                                  
                                </div>
                                <br>
                                <div class="post--content" style="text-align: center;font-size:20px;color:black">
                                    <p></p>
                                </div>
    
                                <div class="post--footer">
                                    <a href="#/yakinda" class="btn btn-default" style="font-size: 20px;color:black;background-color: grey;">Oyun Konsolu Sat</a>
                                </div>
                            </div>
                        </a>
                        
                    </div> 
                    
                    
                </div>


            </div>

        </div>
    </div>
-->
    <div class="row">
        <br>
        <div class="section--title">
            <h2 class="h2" style="text-align: center;margin-top:50px">Eski Cihazlarınızı Nakite Çevirmek İster misiniz ?</h2>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <a href="#/telefon-sat">
                    <div class="simple-cards">
                        <div class='card'>
                            <img class="img" src="https://alsatminiode.com/api//resource/services/telefon.webp" />
                            <div class='info'>
                              <h1 class='title' style="color:white">Telefon Sat</h1>
                              <br>
                              <p class="description">Miniöde ile Telefon Satmak Çok Kolay ! Şimdi Tıkla Formu Doldur Teklif Al. Paranı İster Nakit İstersen Hediye Çeki Olarak Al</p>
                            </div>
                          </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/yakinda">
                    <div class="simple-cards">
                        <div class='card'>
                            <img class="img" src="https://alsatminiode.com/api//resource/services/saat.webp" />
                            <div class='info'>
                              <h1 class='title' style="color:white">Akıllı Saat Sat</h1>
                            </div>
                          </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/yakinda">
                    <div class="simple-cards">
                        <div class='card'>
                            <img class="img" src="https://alsatminiode.com/api//resource/services/tablet.webp" />
                            <div class='info'>
                              <h1 class='title' style="color:white">Tablet Sat</h1>
                            </div>
                          </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/yakinda">
                    <div class="simple-cards">
                        <div class='card'>
                            <img class="img" src="https://alsatminiode.com/api//resource/services/dizustupc.webp" />
                            <div class='info'>
                              <h1 class='title' style="color:white">Dizüstü Bilgisayar Sat</h1>
                            </div>
                          </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/yakinda">
                    <div class="simple-cards">
                        <div class='card'>
                            <img class="img" src="https://alsatminiode.com/api//resource/services/robotsupurge.webp" />
                            <div class='info'>
                              <h1 class='title' style="color:white">Robot Süpürge Sat</h1>
                            </div>
                          </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#/yakinda">
                    <div class="simple-cards">
                        <div class='card'>
                            <img class="img" src="https://alsatminiode.com/api//resource/services/oyunkonsolu.webp" />
                            <div class='info'>
                              <h1 class='title' style="color:white">Oyun Konsolu Sat</h1>
                            </div>
                          </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="features--section pd--100-0-40">
        <div class="container">
            <div class="section--title">
                <h2 class="h2">Neden Biz ?</h2>

                <p>Kaliteli Hizmet</p>
            </div>

            <div class="row AdjustRow">
                <div class="feature--item col-md-3 col-xs-6 col-xxs-12">
                    <div class="icon">
                        <picture>
                            <img src="https://alsatminiode.com/api//resource/icons/icon01.webp" loading="lazy">
                        </picture>    
                    </div>

                    <div class="title">
                        <h3 class="h4">Kaliteli Hizmet</h3>
                    </div>

                    <div class="content">
                        <p>Müşterimizin memnuniyeti bizim için çok önemli !</p>
                    </div>
                </div>
                <div class="feature--item col-md-3 col-xs-6 col-xxs-12">
                    <div class="icon">
                        <picture>
                            <img src="https://alsatminiode.com/api//resource/icons/icon02.webp" loading="lazy">
                        </picture> 
                    </div>

                    <div class="title">
                        <h3 class="h4">Titiz İnceleme</h3>
                    </div>

                    <div class="content">
                        <p>Cihazınızı Titizlikle İnceleriz, Size En Uygun Fiyatı Vermeye Özen Gösteririz.</p>
                    </div>
                </div>
                <div class="feature--item col-md-3 col-xs-6 col-xxs-12">
                    <div class="icon">
                        <picture>
                            <img src="https://alsatminiode.com/api//resource/icons/icon03.webp" loading="lazy">
                        </picture> 
                    </div>

                    <div class="title">
                        <h3 class="h4">Hızlı Kargo</h3>
                    </div>

                    <div class="content">
                        <p>Cihazınız Bize Ulaştıktan Sonra Eğer Onaylamazsan Hemen Kargoya Veririz.</p>
                    </div>
                </div>
                <div class="feature--item col-md-3 col-xs-6 col-xxs-12">
                    <div class="icon">
                        <picture>
                            <img src="https://alsatminiode.com/api//resource/icons/icon04.webp" loading="lazy">
                        </picture> 
                    </div>

                    <div class="title">
                        <h3 class="h4">Sağlıklı İletişim</h3>
                    </div>

                    <div class="content">
                        <p>Sizinle Daima İletişimde Oluruz, Herhangi Bir Sorunda Bize Whatsapp Üzerinden Ulaşabilirsin.</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="services--section pd--100-0 bg--color-lightgray" style="background-color: white;">
        <div class="container">
            <div class="section--title">
                <h2 class="h2">Neler Yapıyoruz ?</h2>

                <p>İnceliyoruz !</p>
            </div>
            <div class="row text-center">
                <div class="service--img col-md-4 col-sm-8">
                    <div class="service--img-inner" data-bg-img="https://alsatminiode.com/api//resource/features/bg.webp" loading="lazy">
                        <div class="tab-content">
                            <div class="tab-pane active" id="serviceImg01">
                                <picture>
                                    <img src="https://alsatminiode.com/api//resource/features/soru1.webp" alt="" loading="lazy">
                                </picture>                              
                            </div>
                            <div class="tab-pane" id="serviceImg02">
                                <picture>
                                    <img src="https://alsatminiode.com/api//resource/features/soru2.webp" alt="" loading="lazy">
                                </picture>
                            </div>
                            <div class="tab-pane" id="serviceImg03">
                                <picture>
                                    <img src="https://alsatminiode.com/api//resource/features/soru3.webp" alt="" loading="lazy">
                                </picture>
                            </div>
                            <div class="tab-pane" id="serviceImg04">
                                <picture>
                                    <img src="https://alsatminiode.com/api//resource/features/soru4.webp" alt="" loading="lazy">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service--items col-md-4 col-sm-6 text-right">
                    <div class="service--item active">
                        <div class="dot" data-position-top="16px" data-position-right="-129px"></div>

                        <h3 class="h3">
                            <a href="#" data-toggle="tab" data-target="#serviceImg01">Son Fiyat Teklifi Farklı Olabilir Mi ?</a>
                        </h3>

                        <p>Evet, olabilir. Cihazınızı hoparlörden, ekrana, hafıza kartından, şarj girişine kadar çok sayıda noktada detaylı olarak test ederiz.</p>

                    </div>
                    <div class="service--item">
                        <div class="dot" data-position-top="13px" data-position-right="-54px"></div>

                        <h3 class="h3">
                            <a href="#" data-toggle="tab" data-target="#serviceImg02">Ödemeyi Ne Zaman Alırım ?</a>
                        </h3>

                        <p>Cihazını inceledikten sonra sana final teklifimizi içeren bir SMS göndeririz. Bunu onaylaman durumunda paranı hesabına yatırırız.</p>

                    </div>
                </div>
                <div class="service--items col-md-4 col-sm-6 float--right">
                    <div class="service--item">
                        <div class="dot" data-position-top="16px" data-position-left="-129px"></div>

                        <h3 class="h3">
                            <a href="#" data-toggle="tab" data-target="#serviceImg03">Fiyat Teklifini Onaylamazsam Ne Olur ?</a>
                        </h3>

                        <p>Cihazını sana kargo ile geri göndeririz.</p>
                    </div>
                    <div class="service--item">
                        <div class="dot" data-position-top="13px" data-position-left="-54px"></div>

                        <h3 class="h3">
                            <a href="#" data-toggle="tab" data-target="#serviceImg04">Cihazımı Size Nasıl Göndereceğim ?</a>
                        </h3>

                        <p>Formu tamamladıktan sonra size bir referans kodu sağlarız, bu referans kodu ile aras kargo şubesine cihazınızı bize gönderebilirsiniz.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
