
        <div class="extra-services--section pd--100-0-40">
            <div class="container">
                <div class="row AdjustRow">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="extra-service--item">
                            <img src="https://i.hizliresim.com/s5n53ce.png" alt="" data-rjs="2">

                            <div class="extra-service--info">
                                <div class="extra-service--info-content">
                                    <div class="title">
                                        <h2 class="h4"><a href="/#/telefon-sat">Telefon Sat</a></h2>
                                    </div>

                                    <div class="content">
                                        <p>Sadece 1 dakikada formu doldur, eski telefonunu bize getir yenisini al. İster hediye çeki ister nakit para olarak harca.</p>
                                    </div>

                                    <div class="footer">
                                        <a href="/#/telefon-sat" class="btn btn-default">Hemen Sat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="extra-service--item">
                            <img src="https://i.hizliresim.com/hcz6kaq.png" alt="" data-rjs="2">

                            <div class="extra-service--info">
                                <div class="extra-service--info-content">
                                    <div class="title">
                                        <h2 href="h4"><a href="/#/yakinda">Akıllı Saat Sat</a></h2>
                                    </div>

                                    <div class="content">
                                        <p>Sadece 1 dakikada formu doldur, eski akıllı saatini bize getir yenisini al. İster hediye çeki ister nakit para olarak harca.</p>
                                    </div>

                                    <div class="footer">
                                        <a href="/#/yakinda" class="btn btn-default">Hemen Sat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="extra-service--item">
                            <img src="https://i.hizliresim.com/tbof5c3.png" alt="" data-rjs="2">

                            <div class="extra-service--info">
                                <div class="extra-service--info-content">
                                    <div class="title">
                                        <h2 class="h4"><a href="/#/yakinda">Tablet Sat</a></h2>
                                    </div>

                                    <div class="content">
                                        <p>Sadece 1 dakikada formu doldur, eski tabletini bize getir yenisini al. İster hediye çeki ister nakit para olarak harca.</p>
                                    </div>

                                    <div class="footer">
                                        <a href="/#/yakinda" class="btn btn-default">Hemen Sat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="extra-service--item">
                            <img src="https://i.hizliresim.com/ibgbm4n.png" alt="" data-rjs="2">

                            <div class="extra-service--info">
                                <div class="extra-service--info-content">
                                    <div class="title">
                                        <h2 class="h4"><a href="/#/yakinda">Dizüstü Bilgisayar Sat</a></h2>
                                    </div>

                                    <div class="content">
                                        <p>Sadece 1 dakikada formu doldur, eski bilgisayarını bize getir yenisini al. İster hediye çeki ister nakit para olarak harca.</p>
                                    </div>

                                    <div class="footer">
                                        <a href="/#/yakinda" class="btn btn-default">Hemen Sat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="extra-service--item">
                            <img src="https://i.hizliresim.com/gaij9vl.png" alt="" data-rjs="2">

                            <div class="extra-service--info">
                                <div class="extra-service--info-content">
                                    <div class="title">
                                        <h2 class="h4"><a href="/#/yakinda">Robot Süpürge Sat</a></h2>
                                    </div>

                                    <div class="content">
                                        <p>Sadece 1 dakikada formu doldur, eski robot süpürgeni bize getir yenisini al. İster hediye çeki ister nakit para olarak harca.</p>
                                    </div>

                                    <div class="footer">
                                        <a href="/#/yakinda" class="btn btn-default">Hemen Sat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="extra-service--item">
                            <img src="https://i.hizliresim.com/27yu0mg.png" alt="" data-rjs="2">

                            <div class="extra-service--info">
                                <div class="extra-service--info-content">
                                    <div class="title">
                                        <h2 class="h4"><a href="/#/yakinda">Oyun Konsolu Sat</a></h2>
                                    </div>

                                    <div class="content">
                                        <p>Sadece 1 dakikada formu doldur, eski oyun konsolunu bize getir yenisini al. İster hediye çeki ister nakit para olarak harca.</p>
                                    </div>

                                    <div class="footer">
                                        <a href="/#/yakinda" class="btn btn-default">Hemen Sat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>