<div class="about--section pd--100-0-40">
    <div class="container">
        <div class="row">
            <div class="about--content col-sm-6 pb--60">
                <h2 class="h2">Hakkımızda <span>Miniöde</span></h2>

                <p>1998 senesinde kurulan firmamız tüketiciye hizmet anlayışıyla daima müşteri memnuniyetini ön planda tutmuştur. Telefon ithalatında öncü olan firmamız 2013 senesinde perakende kategorisinde hizmete başlamış olup yine sektöründe en başarılı firmalar kategorisine adını yazdırmıştır.</p>

                <p>50 kişiyi aşan kadromuz ve bünyemizde bulunan markalarımız ile en iyi fiyat, en düzgün ticaret ve en mutlu müşteriyi amaçlamaktayız. Emperor Teknoloji müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.</p>

                <ul>
                    <li><i class="fa fm fa-angle-double-right"></i>Çalışanlarımızın katılımı ile ISO 27001 Bilgi Güvenliği Yönetim Sistemini sürekli iyileştirmeyi</li>
                    <li><i class="fa fm fa-angle-double-right"></i>Kişisel Verilerin ve Kurum bilgilerinin korunması için gerekli altyapıyı sağlamayı</li>
                    <li><i class="fa fm fa-angle-double-right"></i>Bilmesi Gerektiği Kadar Prensibi ile sorumluların yetkisi dahilinde bilgiye erişebilmelerini sağlamayı</li>
                    <li><i class="fa fm fa-angle-double-right"></i>İş sürekliliği kapsamında gerekli önlemleri alarak müşterilerimize kesintisiz hizmet vermeyi</li>
                    <li><i class="fa fm fa-angle-double-right"></i>Bilgi Güvenliği yasa ve yönetmeliklerine tam olarak uymayı</li>
                    <li><i class="fa fm fa-angle-double-right"></i>Bilgi Güvenliği İhlal olaylarını önlemeyi</li>
                    <li><i class="fa fm fa-angle-double-right"></i>Amaç olarak edinmiş bulunmaktayız.</li>
                </ul>
            </div>

            <!--
                            <div class="about--gallery col-sm-6 pb--60">
                <div class="about--gallery-video bg--overlay">
                    <img src="img/about-img/video-poster.jpg" alt="" data-rjs="2">

                    <a href="https://www.youtube.com/shorts/SIgTh25SOXM" class="play-btn" data-popup="video"><i class="fa fa-play"></i></a>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <a href="img/about-img/item-01.jpg" class="about--gallery-img bg--overlay" data-popup="img">
                            <img src="img/about-img/item-01.jpg" alt="" data-rjs="2">
                        </a>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <a href="img/about-img/item-02.jpg" class="about--gallery-img bg--overlay" data-popup="img">
                            <img src="img/about-img/item-02.jpg" alt="" data-rjs="2">
                        </a>
                    </div>

                    <div class="col-md-4 hidden-sm hidden-xs">
                        <a href="img/about-img/item-03.jpg" class="about--gallery-img bg--overlay" data-popup="img">
                            <img src="img/about-img/item-03.jpg" alt="" data-rjs="2">
                        </a>
                    </div>
                </div>
            </div>
            --> 

            
        </div>
    </div>
</div>