
  <div class="wrapper">
    <div class="dashboard">
      
      <div class="dashboard__header">
        <p>Designed By Emre Coşkun</p>
        <p>Alsat-miniöde</p>
      </div>
      <!--  
              <div class="dashboard__main">
        <div class="row">        
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Müşteri Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Marka Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Model Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Soru Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Kargo Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Ülke Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Şehir Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">İlçe Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Admin Yönetim Paneli</h2>
          </div>
          <div class="dashboard-main__item">
            <br>
            <h2 routerLink="customers" style="cursor:pointer">Site Ayarları</h2>
          </div>              
        </div>
      </div>
      -->

      
    </div>
  </div>

