

 <h2 mat-dialog-title>Sözleşme</h2>
 <mat-dialog-content class="mat-typography" (scroll)="onScroll($event)">
    <h1>Kullanım Koşulları</h1>
    <h2>Sayın kullanıcı; Miniöde.com alan adlı internet sitesini kullanmak için lütfen aşağıda yazılı koşulları okuyunuz.
         Miniöde.com alan adlı internet sitesine girmeniz, ziyaret etmeniz, 
        üye olmanız veya bu internet sitesindeki herhangi bir bilgiyi kullanmanız aşağıdaki 
        koşulları okuyup anladığınız ve kabul ettiğiniz anlamına gelmektedir.</h2>
    <h3><b>Tanımlar</b></h3>
    <p><b>5651 Sayılı Kanun : </b>İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun.</p>
    <p><b>Miniöde Arayüzü : </b>Miniöde tarafından oluşturulan içeriğin Kullanıcılar tarafından görüntülenebilmesi ve Miniöde Veritabanından sorgulanabilmesi amacıyla Kullanıcılar tarafından kullanılan; 
        5846 Sayılı Fikir ve Sanat Eserleri Kanunu kapsamında korunan ve tüm fikri hakları Miniöde’ye ait olan tasarımlar
         içerisinde İnternet Sitesi üzerinden yapılabilecek her türlü işlemin gerçekleştirilmesi için bilgisayar programına komut veren internet sayfaları.</p>
    <p><b>Miniöde Hizmetleri : </b>Miniöde.com İnternet Sitesi üzerinden Kullanıcılara veya Üyelere sağlanan hizmetler.</p>
    <p><b>Miniöde Üyelik Hesabı : </b>Üyenin İnternet Sitesi üzerinde sunulan Miniöde Hizmetlerinden yararlanmak için gerekli olan iş ve işlemleri gerçekleştirdiği, Üyelik ile ilgili
         işlemlerde bulunduğu, kendisinin belirlediği ve münhasıran kendisi tarafından kullanılacağını taahhüt
          ettiği kullanıcı adı ve şifre ile İnternet Sitesi üzerinden eriştiği İnternet Sitesinin Üyeye özel bölümü.</p>
    <p><b>Miniöde Veritabanı : </b>İnternet Sitesi dâhilinde erişilen içeriklerin depolandığı, tasnif edildiği, sorgulanabildiği ve erişilebildiği 
        Miniöde’ye ait olan ve 5846 Sayılı Fikir ve Sanat Eserleri Kanunu gereğince korunan veritabanıdır.</p>
    <p><b>İçerik : </b>İnternet Sitesinde yayınlanan ve erişimi mümkün olan her türlü bilgi, yazı, dosya, resim, video, rakam ve benzeri görsel, yazınsal ve işitsel imgeler, 
        belgeler ve her nevi dosya.</p>
    <p><b>İnternet Sitesi : </b>Miniöde’ye ait olan, Miniöde tarafından işletilerek Miniöde Hizmetleri sağlanan Miniöde.com alan adlı internet sitesi.</p>
    <p><b>Kullanıcı : </b>İnternet Sitesine erişen her gerçek veya tüzel kişi.</p>
    <p><b>Mücbir Sebep : </b>Doğal afet, savaş, yangın, grev, ayaklanma, isyan, moratoryum, kötü hava koşulları, altyapı ve internet arızaları, sisteme ilişkin iyileştirme ve yenileştirme 
        çalışmaları ve bu sebeple meydana gelebilecek her türlü arıza, elektrik kesintisi durumları dâhil ancak bunlarla sınırlı olmaksızın, Miniöde’nin gerekli özeni
         göstermesine rağmen önleyemediği her türlü olay.</p>
    <p><b>Üye : </b> İnternet sitesine üye olan kullanıcı.</p>
    <p><b>Üyelik : </b>Üye olmak isteyen Kullanıcının, İnternet Sitesinde yer alan Üyelik Sözleşmesini kabul etmesi ve 
        gerekli formları doğru ve eksiksiz bir şekilde doldurması sonucunda Miniöde tarafından bu işlemin onaylanarak Kullanıcıya sağlanacak statü.</p>
    <h3><b>Kullanım</b></h3>
    <ul>
        <li>İşbu Kullanım Koşulları İnternet Sitesi üzerinden yayınlanarak; İnternet Sitesini kullanan her gerçek veya tüzel kişi tarafından erişimi mümkün kılınmıştır. </li>
        <li>Miniöde.com alan adlı İnternet Sitesini ziyaret ederek veya Üye olarak, işbu Kullanım Koşullarını okuduğunuzu, içeriğini tamamen anladığınızı,
            Kullanım Koşullarında belirtilen ve İnternet Sitesinde bulunan ve zaman içinde yer alacak ve Miniöde tarafından istenildiği zaman değiştirilebilecek
            tüm hususları kayıtsız ve şartsız olarak kabul ettiğinizi taahhüt etmektesiniz.</li>
        <li>İnternet Sitesinde belirtilen tüm hususlarla ilgili olarak herhangi bir itiraz ve defi ileri sürmemeyi kabul etmektesiniz. 
            Bu koşulları kabul etmediğiniz takdirde, lütfen İnternet Sitesini kullanmaktan vazgeçiniz.</li>
        <li>Miniöde, işbu Kullanım Koşullarını ve İnternet Sitesinde yer alan her tür İçeriği,  Kullanıcıya herhangi bir ihbarda veya bildirimde bulunmadan dilediği
            zaman değiştirebilir. Bu değişiklikler İnternet Sitesinde yayınlanacak ve yayımlandığı tarihte geçerli olacaktır. İnternet Sitesinde yer alan Miniöde Hizmetlerinden
            belirli bir bedel ödeyerek ya da bedelsiz olarak yararlanan veya herhangi bir şekilde İnternet Sitesine erişim sağlayan 
            her gerçek veya tüzel kişi işbu Kullanım Koşullarını ve Miniöde tarafından işbu Kullanım Koşullarında yapılan her değişikliği kabul etmiş sayılmaktadır.</li>
    </ul>
    <h3><b>Miniöde Hizmetleri</b></h3>
    <ul>
        <li>Miniöde, Miniöde Veritabanına yüklenen içeriklerin, arayüzler kullanılmak suretiyle Miniöde Veritabanı üzerinden Kullanıcılar tarafından görüntülenebilmesini temin etmektedir.</li>
        <li>Miniöde, Kullanıcıların, İnternet Sitesi içerisindeki ilanlara daha kolay ulaşabilmelerini sağlamak üzere ilanların görüntülenmesini önceliklendiren çeşitli tiplerde listeleme hizmetleri vermektedir.</li>
        <li>Miniöde, İnternet Sitesi dâhilinde gerçekleştirilen işlemlere, görüntüleme sayılarına yönelik çeşitli kategoriler altında raporlama hizmetlerini sunmaktadır.</li>
        <li>Miniöde, İnternet Sitesi dâhilinde verdiği hizmetlere yenilerini ekleme, mevcut hizmetlerin kapsam ve sunulma koşulları ile İnternet Sitesi dâhilinde erişilen İçerikleri her zaman değiştirme, üçüncü kişilerin erişimine kapatabilme ve silme hakkını saklı tutmaktadır.
            Miniöde, bu hakkını hiçbir bildirimde bulunmadan ve önel vermeden dilediği biçimde kullanabilmektedir.</li>
    </ul>
    <h3><b>Kullanıcıların Yükümlülükleri</b></h3>
    <ul>
        <li>Kullanıcılar, hukuka uygun olarak İnternet Sitesi üzerinde Miniöde tarafından sunulan işlemleri yapabilirler. Kullanıcıların İnternet Sitesi dâhilinde 
            yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine aittir. Kullanıcılar, 
            söz konusu hukuki ve cezai yükümlülüklerle ilgili Miniöde’nin herhangi bir sorumluluğu bulunmadığını kabul, beyan ve taahhüt etmektedir.</li>
        <li>Kullanıcılar, İnternet Sitesi dâhilinde bulunan her türlü resimleri, metinleri, görsel ve işitsel imgeleri, video klipleri, dosyaları, veritabanlarını,
            katalogları ve listeleri çoğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini, bu tür eylemler 
            gerçekleştirerek herhangi bir ticari faaliyette bulunmayacağını, 
            doğrudan veya dolaylı olarak haksız rekabet teşkil eden davranış ve işlemler gerçekleştirmeyeceğini kabul, beyan ve taahhüt etmektedir.</li>
        <li>Kullanıcılar İnternet Sitesi dâhilinde yürürlükte bulunan 6102 Sayılı Türk Ticaret Kanunu hükümleri uyarınca haksız rekabete yol açacak
            faaliyetlerde bulunmayacağını, Miniöde’nin ve üçüncü kişilerin şahsi ve ticari itibarı sarsacak, kişilik haklarına tecavüz veya taarruz edecek fiilleri
            gerçekleştirmeyeceğini, mevzuata, kamu düzenine ve genel ahlak kurallarına uygun hareket edeceğini, mevzuatın gerektirdiği önlemleri alacağını ve gerekli 
            prosedürleri yerine getireceğini, yasadışı, suç teşkil edecek, rahatsız edici, kişilik haklarına zarar verici, 
            fikri haklara, telif haklarına, marka haklarına ve mülkiyet haklarına tecavüz edici tutum ve davranışlarda bulunmayacağını kabul, beyan ve taahhüt etmektedir.</li>
        <li>Miniöde, 5651 Sayılı Kanun uyarınca [Yer/Erişim Sağlayıcılığı Faaliyet Belgesine] sahiptir. Miniöde, 5651 Sayılı Kanun ve ilgili 
            mevzuat uyarınca yer/erişim sağlayıcılara getirilen yükümlülüklere uymak amacıyla, Kullanıcıların İnternet Sitesi üzerinde gerçekleştirdikleri 
            işlemlere ilişkin ilgili mevzuatta belirtilen nitelikteki kayıtları yasal süresi içinde kayıt altına almakta ve saklamaktadır.</li>
        <li>Miniöde, Kullanıcı bilgilerini kullanabilir, işleyebilir, paylaşabilir, ifşa edebilir, bir veritabanı üzerinde tasnif edip muhafaza edebilir, 
            tanıtım ve bilgilendirme amaçlı iletişim faaliyetlerinde, pazarlama faaliyetlerinde ve istatistikî analizler yapmak amacıyla kullanabilir. Miniöde,
            aynı zamanda kullanıcının IP adresi, İnternet Sitesinin hangi bölümlerini ziyaret ettiği, domain tipi, tarayıcı (browser) tipi, tarih ve saat 
            gibi bilgileri de istatistiki değerlendirme ve kişiye yönelik hizmetler ve teklifler sunma gibi amaçlarla kullanabilir. Kullanıcılar, Miniöde, 
            İnternet Sitesini iyileştirme amaçlı araştırmalar yapmak, veri tabanı oluşturmak ve pazar araştırmaları yapmak için,
            Miniöde’nin işbirliği içinde olduğu firmalara Kullanıcı bilgilerini aktarmasına, bu firmalar tarafından Kullanıcı bilgilerinin işlenmesine ve 
            kullanılmasına onay vermektedir.</li>
        <li>Miniöde, online davranışsal reklamcılık ve pazarlama yapılabilmesi amacıyla siteye gelen kullanıcının sitedeki 
            davranışlarını tarayıcıda bulunan bir çerez (cookie) ile ilişkilendirme ve görüntülenen sayfa sayısı, ziyaret süresi ve hedef tamamlama 
            sayısı gibi metrikleri temel alan yeniden pazarlama listeleri tanımlama, pazarlama otomasyon araçlarını kullanma ve kullanıcıya özel mesaj veya teklif ve öneriler 
            iletme hakkını haizdir. Bu doğrultuda, Miniöde, Kullanıcılara İnternet Sitesinde ya da görüntülü reklam ağındaki diğer sitelerde,
            Kullanıcıların ilgi alanlarına göre hedefe yönelik reklam içeriği gösterebilir. Ayrıca, Google, AFS reklamlarının Miniöde’ye
            yönlendirilmesi esnasında Google Kullanıcıların tarayıcısına çerez yerleştirebilir 
            veya bunlarda yer alan çerezleri okuyabilir veya bilgi toplamak amacı ile web işaretleri kullanabilir.</li>
        <li>İnternet Sitesi üzerinden erişilen veya görüntülenen İçeriğin depolandığı veritabanına yalnızca ilgili içeriklerin görüntülenmesi amacıyla veya 
            işbu Kullanım Koşulları çerçevesinde üçüncü kişilerce erişilmesi hukuka uygundur.
            Belirtilen yöntemler haricinde bir yol ile sağlanan erişimler hukuka aykırı olup; Miniöde’nin bu konudaki her tür talep, dava ve takip hakları saklıdır.</li>
        <li>Miniöde, ilanların içeriklerini öğrenme amacıyla görüntülemeye ve Miniöde Arayüzünü kullanmaya
            izin vermekte olup, bunun dışında bir amaçla veritabanı üzerinden belirli bir sayıda veya bütününe yönelik olarak ilanlara ulaşılmaya çalışılması, ilanların, 
            müşteri bilgilerinin, tasarımlarının, kod ve yazılımlarının, veritabanında yer alan bilgilerinin kısmen veya tamamen kopyalanması, bunların başka mecralarda doğrudan 
            veya dolaylı olarak yayınlanması, derlenmesi, işlenmesi, değiştirilmesi, başka veritabanlarına aktarılması, bu veritabanından üçüncü kişilerin erişimine ve kullanımına 
            açılması, Miniöde üzerindeki ilanlara link verilmesi de dâhil olmak üzere benzer fiillerin işlenmesine Miniöde tarafından izin verilmemekte ve rıza gösterilmemektedir. 
            Bu tür fiiller hukuka aykırı olup Miniöde’nin bu konudaki her tür talep, dava ve takip hakları saklıdır</li>
        <li>İnternet Sitesinin bütününün veya herhangi bir bölümünün bozma, değiştirme, tersine mühendislik yapma amacıyla kullanılması, 
            İnternet Sitesinin iletişim veya teknik sistemleri engelleyen, bozan ya da sistemlere müdahale eder bir şekilde İnternet Sitesine erişim sağlanmaya çalışılması, 
            İnternet Sitesi üzerinde otomatik program, robot, örümcek, web crawler, örümcek, veri madenciliği (dataminig) veri taraması (datatrawling) ve benzeri (screen scraping) 
            yazılımları veya sistemleri, otomatik aletler ya da manuel süreçler kullanılması, diğer kullanıcılarının verilerine veya yazılımlarına izinsiz olarak ulaşılması, 
            İnternet Sitesinin ve İnternet Sitesindeki içeriğin işbu Kullanım 
            Koşulları ile belirlenen kullanım sınırları dışında kullanılması hukuka aykırı olup; Miniöde’nin bu konudaki her türlü talep, dava ve takip hakları saklıdır. </li>
        <li>İşbu Kullanım Koşullarına ve uygulanabilir diğer mevzuata aykırı bir şekilde İnternet Sitesinin kullanımının tespiti halinde, 
            Miniöde, ilgili Kullanıcıyı yetkili makamlara bildirme hakkına sahiptir. Kullanıcılar belirtilen şekilde kullanımlar sonucu oluşan zarar ve 
            taleplerden şahsen sorumlu olduklarını ve Miniöde’nin oluşacak zararları talep etmesi halinde bu zararları derhal ve defaten karşılayacaklarını kabul etmektedir.</li>
        <li>Kullanıcılar, İnternet Sitesinde verilen hizmetin kesintiye uğraması, bilgi iletiminde aksaklıklar, gecikmeler, başarısızlıklar yaşanması, 
            veri kaybı halinde oluşabilecek her türlü doğrudan ve dolaylı zararlardan Miniöde’nin sorumlu tutulamayacağını kabul, beyan ve taahhüt etmektedir.</li>
    </ul>
    <h3><b>Değişiklikler</b></h3>
    <p>Miniöde dilediğinde, tek taraflı olarak işbu Kullanım Koşullarını herhangi bir zamanda İnternet Sitesinde ilan etmek suretiyle değiştirebilir. 
        İşbu Kullanım Koşullarının değişen hükümleri, ilan edildikleri tarihte geçerlilik kazanarak, yürürlüğe girecektir. </p>
    <p>İşbu Kullanım Koşulları, herhangi bir Kullanıcı tek taraflı beyanı ile değiştirilemez.</p>
    <h3><b>Fikri Mülkiyet</b></h3>
    <ul>
        <li>İnternet Sitesi dâhilinde erişilen veya kullanıcılar tarafından sağlanan bilgiler ve İnternet Sitesinin (Miniöde Veritabanı, Miniöde Arayüzü, 
            tasarım, metin, imge, html kodu ve diğer kodlar dâhil ancak bunlarla sınırlı olmaksızın) her türlü elemanları (birlikte <b>“Miniöde Telif Hakları”</b> olarak anılacaktır) 
            Miniöde’ye aittir veya Miniöde tarafından üçüncü bir kişiden lisans veya ilgili yetki altında alınmıştır. </li>
        <li>Kullanıcılar, Miniöde Hizmetlerini, Miniöde bilgilerini ve Miniöde Telif Haklarına tabi çalışmalarını yeniden satmak, işlemek, kopyalamak, paylaşmak, dağıtmak, 
            sergilemek veya başkasının Miniöde Hizmetlerine erişmesi veya kullanmasına izin vermek hakkına sahip değildir. </li>
        <li>Kullanıcılar, işbu Kullanım Koşulları dâhilinde Miniöde tarafından açıkça izin verilen durumlar dışında Miniöde Telif Haklarına tabi çalışmalarını çoğaltamaz, 
            işleyemez, dağıtamaz veya bunlardan türemiş çalışmalar yapamaz. Kullanıcıların bu hükümde yer alan düzenlemeye aykırı hareket etmeleri sonucunda oluşacak 
            zararlar Miniöde tarafından ilgili Kullanıcıdan talep edilecektir. 
            Kullanıcılar, böyle bir durumda Miniöde tarafından talep edilecek zararları derhal ve defaten karşılayacaklarını kabul etmektedir </li>
        <li>İşbu Kullanım Koşulları dâhilinde Miniöde tarafından açıkça yetki verilmediği hallerde Miniöde, Miniöde Hizmetlerine, Miniöde bilgilerine,
            Miniöde Telif Haklarına tabi çalışmalarına, Miniöde ticari markalarına, 
            Miniöde ticari görünümüne veya İnternet Sitesi vasıtasıyla sağladığı başkaca belge ve bilgilere ilişkin tüm haklarını saklı tutmaktadır.</li>
    </ul>
    <h3><b>Mücbir Sebep</b></h3>
    <p>Kullanıcılar tarafından İnternet Sitesi üzerinde yapılan bir işlem sonucunda, Miniöde’nin bir ifa yükümlülüğü altına girmesi halinde ancak Mücbir Sebep sayılan 
        bir durumun varlığı nedeniyle, 
        ifanın gereği gibi ya da hiç yapılmaması durumunda, Miniöde’nin ilgili Kullanıcıya karşı herhangi bir tazminat ödeme yükümlülüğü olmayacaktır. </p>
    <h3><b>Hukuk ve Yetki</b></h3>
    <p>İşbu Kullanım Koşulları Türk Hukukuna tabidir. 
        İşbu Kullanım Koşullarının uygulanmasından ve yorumlanmasından doğacak uyuşmazlıkların çözümünde İstanbul (Anadolu) Mahkemeleri ve İcra Daireleri yetkilidir.</p>
    <h3><b>Yürürlük ve Kabul</b></h3>
    <p>İşbu 9 (dokuz) maddeden ibaret Kullanım Koşulları, İnternet Sitesinde yayınlandığı tarihte yürürlüğe girmiş sayılmaktadır.</p>
    <p>Kullanıcılar, Miniöde.com alan adlı İnternet Sitesine girmekle, ziyaret etmekle, üye olmakla veya bu internet sitesindeki herhangi bir 
        bilgiyi kullanmakla işbu Kullanım Koşullarını ve zaman zaman bu koşullarda yapılacak değişiklikleri kabul ettiğini beyan etmektedir.</p>
    
 
 
 
 </mat-dialog-content>
 <mat-dialog-actions align="end">
   <button mat-button mat-dialog-close color="primary" [disabled]="!isDisabled">Okudum.</button>
 </mat-dialog-actions>
 
 
 
 
 
  
 