

 <h2 mat-dialog-title>Sözleşme</h2>
 <mat-dialog-content class="mat-typography" (scroll)="onScroll($event)">
    <h1>Kişisel Verilerin Korunması</h1>
    <p>Kullanıcılarımız İçin Kişisel Verilerin Korunması Aydınlatma Metni
        Veri sorumlu sıfatıyla Miniöde Bilişim ve Ticaret Anonim Şirketi <b>(“Miniöde”)</b> olarak, www.miniode.com alan adlı internet sitemizin <b>(“Miniöde İnternet Sitesi”)</b>
        kullanıcılarının, Miniöde İnternet Sitesinde sağladığımız hizmetlerimizden güvenli, huzurlu ve eksiksiz bir şekilde faydalanmaları için, 
        kullanıcıların gizliliğinin sağlanmasına ve kişisel verilerinin korunmasına büyük önem vermekteyiz. Bu doğrultuda, işbu Kullanıcılarımız 
        İçin Kişisel Verilerin Korunması Aydınlatma Metni (kısaca <b>“Metin”</b> olarak anılacaktır), Miniöde İnternet Sitemizde yer alan Çerez Politikamız ile bir bütün halindedir. 
        Bu nedenle, işbu Kullanıcılarımız İçin Kişisel Verilerin Korunması Aydınlatma Metni ile Çerez Politikamızı birlikte incelemenizi tavsiye etmekteyiz.
    </p>
    <p>İşbu Metin, Miniöde İnternet Sitesi kullanıcılarının kişisel verilerinin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) ile uyumlu bir şekilde işlenmesi ve 
        kullanıcıları bu konuda bilgilendirmek amacıyla hazırlanmıştır. Ayrıca, Miniöde işbu Metin ile Miniöde İnternet Sitesinin işletilmesi sırasında her tür kullanıcılar 
        (genel olarak “Veri Sahibi” olarak anılacaktır) tarafından Miniöde ile paylaşılan veya Veri Sahibinin Miniöde İnternet 
        Sitesini kullanımı sırasında Miniöde’nin ürettiği kişisel verilerin kullanımına ilişkin şartları tespit etmeyi amaçlamaktadır.</p>
    <p>Miniöde İnternet Sitesi kullanıcıları, işbu Metin ile Miniöde İnternet Sitesini kullanımlarına ilişkin olarak kişisel verilerinin korunmasına ve 
        gizliliklerine ilişkin kapsamlı bilgilere ulaşabilmektedir.</p>
    <h2>Hangi Kişisel Veriler İşlenir ?</h2>
    <p>Yukarıda belirtilen Kanun uyarınca kişisel veri sayılan ve Miniöde tarafından işlenen kullanıcı verileri şunlardır: ad, soyadı, 
        TC Kimlik Numarası, telefon numarası, adres bilgisi, kredi kartı numarası, kredi kartı CVC kodu, kredi kartı son kullanım tarihi, imei numarası, 
        sipariş bilgisi ve geçmişi, e-posta adresi, kullanıcı adı, iban bilgisi, hesap numarası bilgisi, fatura bilgileri, 
        müşteri değerlendirmeleri/yorumları, vergi kimlik numarası, site ziyaret bilgisi, şifre, parola, IP bilgileri.</p>
    <p>Aksi belirtilmedikçe, işbu Metin kapsamında arz edilen koşullar kapsamında “Kişisel Veri” ifadesi yukarıda belirtilen verileri kapsayacaktır. 
        Ancak belirtmek gerekir ki, Kanunun 7. maddesi uyarınca, geri döndürülemeyecek şekilde anonim hale getirilen veriler, Kanun hükümleri uyarınca Kişisel 
        Veri olarak kabul edilmeyecektir. 
        Bu şekilde oluşturulmuş verilere ilişkin işleme faaliyetleri işbu Metin hükümlerinden bağımsız olarak gerçekleştirilmektedir.</p>
    <h2>Kişisel Verilerin İşlenme Amaçları Nelerdir ?</h2>
    <p>Miniöde kişisel verileri, Miniöde İnternet Sitesi üzerinden kullanıcıların işlemlerinden toplanmakta ve işbu Metinde belirtilen amaç ve nedenlerle işlemekte ve aktarmaktadır.
        Miniöde, Veri Sahibi tarafından sağlanan Kişisel Verileri, aşağıda sıralanan amaçlar doğrultusunda işleyebilmektedir:</p>
    <ul>
        <li>Miniöde İnternet Sitesi kapsamında üyelik kaydı yapılması ve buna ilişkin kayıtların tutulması.</li>
        <li>Miniöde’nin ticari veya iş stratejilerinin planlanması ve icra edilmesi.</li>
        <li>Faaliyetlerin iyileştirilmesine yönelik geri bildirimleri almak ve değerlendirmek.</li>
        <li>Talep/şikayetlerin takibini sağlamak ve sonuçlandırmak.</li>
        <li>Müşteri memnuniyetine yönelik anket ve aktiviteler yürütmek.</li>
        <li>Miniöde ve iş ilişkisi içerisinde bulunduğu kişilerin hukuki, ticari ve teknik güvenliğinin temininin sağlanması.</li>
        <li>Kullanıcıların Miniöde İnternet Sitesi üzerinden sağlanan hizmetlerden etkin bir şekilde faydalandırılması.</li>
        <li>Sistem hatalarının tespit edilerek performans takibinin yapılması ve Miniöde İnternet Sitesinin işleyişinin iyileştirilmesi ve geliştirilmesi.</li>
        <li>Miniöde tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması.</li>
        <li>Miniöde tarafından sunulan ürün ve hizmetlerden kullanıcıları faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması.</li>
        <li>Miniöde tarafından sunulan ürün ve hizmetlerin, kullanıcıların beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kullanıcılara önerilmesi ve 
            tanıtılması için gerekli olan işlemlerin yapılması.Miniöde tarafından işlenen kişisel verileriniz Kanun’un 5. Maddesi kapsamında kanunlarda açıkça öngörülmesi, 
            sizinle yaptığımız sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, kişisel verilerin işlenmesinin gerekli olması, 
            hukuki yükümlülüklerimizin yerine getirilebilmesi için zorunlu olması ve Veri Sahibinin temel hak ve özgürlüklerine zarar vermemek kaydıyla,
            Miniöde’nin meşru menfaatleri için veri işlenmesinin zorunlu olması ve açık rıza gereğince işlenebilmektedir.</li>
    </ul>
    <h2>Kişisel Verilerin Toplanma Yöntemi</h2>
    <p>Miniöde’nin elektronik veya fiziki ortamda iletilen kişisel verileriniz işbu Metin’de yer verilen amaçlar doğrultusunda Kanun’un 5. maddeleri uyarınca; 
        tamamen veya kısmen otomatik olan ya da 
        herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla işlenmektedir.</p>
    <h2>Açık Rıza</h2>
    <p>Veri Sahibinin açık rızasının olması durumunda, Miniöde, Veri Sahiplerinin Miniöde İnternet Sitesi üzerindeki hareketlerini 
        takip ederek aşağıdaki amaçlar doğrultusunda Kişisel Verileri işleyebilecektir:</p>
    <ul>
        <li>İstatistik oluşturulması ve profilleme yapılması.</li>
        <li>Kullanıcı deneyiminin artırılması.</li>
        <li>Doğrudan pazarlama ve yeniden pazarlama.</li>
        <li>Kullanıcıya özel promosyonların oluşturulması ve ilgili kullanıcıya iletilmesi.</li>
        <li>Belirtilen kapsamlarda elde edilen verilerin reklam ve materyal içeriğinde kullanılması.
            Belirtmek gerekir ki, Miniöde, aşağıda belirtilen şekillerde ve belirtilen taraflarla, yukarıda belirtilen koşullar kapsamında Kişisel Verileri paylaşabilecektir.</li>
    </ul>
    <h2>Nasıl Aktarılır ?</h2>
    <p>Miniöde işbu Metinde belirtilen amaçlar ve esaslar doğrultusunda, Veri Sahibi kullanıcılara ait Kişisel Verileri ve elde ettiği yeni verileri, 
        hizmetlerinden faydalandığı üçüncü kişilere ve iş ortaklarına aktarabilmektedir. Bununla birlikte Miniöde Kişisel Verileri ve bu veriler ile elde 
        ettiği yeni verileri aşağıdaki amaçlar doğrultusunda dış kaynak hizmet sağlayıcılarına, iş ortaklarına, hosting servis sağlayıcılarına, araştırma şirketlerine, 
        çağrı merkezlerine ve gerekmesi halinde hukuk bürolarına aktarabilmektedir:</p>
    <ul>
        <li>Operasyonel değerlendirme yapmak,</li>
        <li>Veri Sahibi kullanıcının güvenliğini sağlamak,</li>
        <li>Hileli ya da izinsiz kullanımları tespit etmek,</li>
        <li>Müşteri anketleri yapılmasını sağlamak,</li>
        <li>Miniöde İnternet Sitesi hizmetlerinde oluşan hataları gidermek ve benzeri amaçlar.
            Miniöde, yukarıda yer alan ve Kanunun 8 ve 9. maddelerinde belirtilen koşullar doğrultusunda, Veri Sahibi kullanıcılara ait Kişisel Verileri, 
            Miniöde şirket yetkilileri, hissedarları, iş ortakları ve yetkili kamu ve özel kurum ve kuruluşları ile paylaşılabilmektedir. Öte yandan Miniöde söz konusu 
            Kişisel Verileri, Kanunun 9. maddesinde yer alan koşullar çerçevesinde, Kişisel Verileri Koruma Kurulu kararları ve açık rıza doğrultusunda 
            yurt dışına aktarılabilmektedir.</li>
    </ul>
    <h2>İlgili Kişi Olarak Haklarınız ve Kullanma Yöntemleri</h2>
    <p>Kişisel verilerine ilişkin olarak kişi gruplarının kullanabileceği haklar Kişisel Verilerin Korunması Kanunu Madde 11’de yer almakta olup aşağıdaki gibidir.</p>
    <ul>
        <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
        <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
        <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
        <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
        <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</li>
        <li>Kişisel Verilerin Korunması Kanunu’nun 7. maddesinde öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu 
            hükümler uyarınca yapılan işlemlerin, kişisel verilen aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
        <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
        <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme.</li>
    </ul>
    

 
 </mat-dialog-content>
 <mat-dialog-actions align="end">
   <button mat-button mat-dialog-close color="primary" [disabled]="!isDisabled">Okudum.</button>
 </mat-dialog-actions>
 
 
 
 
 
  
 