

 <h2 mat-dialog-title>Başarılı</h2>
 <mat-dialog-content class="mat-typography">

<div class="row" style="text-align: center;">
    <h1>İşte Yapman gerekenler :</h1>
       <h2> seçtiğiniz kargo kodu ile en yakın seçtiğin kargo şubesine giderek cihazını bize göndermelisin.</h2>
    <h3>Cihazın elimize ulaştıktan sonra kısa bir inceleme sürecine gireceğiz. Daha sonra sizin cevaplarınız doğrultusunda cihazdaki sorunu ele alıp teklifinizi yenileyebiliriz.</h3>
    <h3>Eğer teklifi kabul etmezseniz tekrardan cihazınızı belirttiğiniz adrese yollayacağız.</h3>
    <hr>
    <div class="d-flex justify-content-center">
       <!--<img [src]="'/api/'+shippingCompany.shippingCompanyImageFile[0].filePath" style="width:300px;height:150px;" >--> 
    </div>
    <!--<h2>{{shippingCompany.companyName}} : {{shippingCompany.companyDealCode}}</h2>-->
    <hr>
    <h1><b>Referans Kodun : {{referanceCode}}</b></h1>
    <hr>
    <h1><b>Referans Kodun ve Kargo Kodun Mail Yoluyla Sana İletildi !</b></h1>
    <h2>Şimdi tek yapman gereken mail ile yolladığımız referans kodunu bir kağıda yazıp cihaz ile birlikte seçtiğiniz kargo firmasından bizlere göndermen !</h2>

</div>


 </mat-dialog-content>
 <mat-dialog-actions align="end">
    <!--<button mat-raised-button color="primary">Kaydet</button>--> 
   <button mat-button color="primary" mat-dialog-close>Kapat</button>
 </mat-dialog-actions>
 
 
 
 
 
  
 