
        <div class="service-single--section pd--100-0-40">
            <div class="container">
                <div class="row">
                    <div class="service-single--sidebar col-md-3 float--right pb--60">
                        <div class="nav-links--widget bg--color-lightgray">
                            <h2 class="h4">Sıkça Sorulan Sorular</h2>

                            <ul class="nav">
                                <li class="active"><a href="#soru01" data-toggle="tab">Verilerim Güvende mi?</a></li>
                                <li><a href="#soru02" data-toggle="tab">Ön fiyat teklifi ile son fiyat teklifi neden farklı mı ?</a></li>
                                <li><a href="#soru03" data-toggle="tab">Ödemeyi ne zaman alırım ?</a></li>
                                <li><a href="#soru04" data-toggle="tab">Final fiyat teklifini onaylamazsam ne olur ?</a></li>
                                <li><a href="#soru05" data-toggle="tab">Cihazımı size nasıl göndereceğim ?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="service-single--content col-md-9 pb--60">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="soru01">
                                <h2 class="title h4">Verilerim güvende mi ?</h2>


                                <p>Bize telefonunu satmak isteyen her müşterimizle yaptığımız işlemler kayıt altına alınmaktadır. Telefonu aldığımız kişinin bilgileri veritabanımızda saklanmaktadır. Telefon satış işlemi gerçekleştikten hemen sonra sahip olduğumuz özel yazılım ile cihazdaki bütün verileri kalıcı olarak silmekteyiz. Böylece telefonunu satan kişinin verilerine ulaşmak imkânsız hale gelmektedir.</p>
                            </div>
                            <div class="tab-pane fade" id="soru02">
                                <h2 class="title h4">Ön fiyat teklifi ile son fiyat teklifi neden farklı mı ?</h2>

                                <p>Cihazınızı hoparlörden, ekrana, hafıza kartından, şarj girişine kadar çok sayıda noktada detaylı olarak test ederiz. Bu test sırasında sizin de bilmediğiniz bazı arızalar tespit edebiliriz. Bu durumda son fiyat teklifi farklılık gösterebilir.</p>

                            </div>
                            <div class="tab-pane fade" id="soru03">
                                <h2 class="title h4">Ödemeyi ne zaman alırım ?</h2>

                                <p>Cihazını inceledikten sonra sana final teklifimizi içeren bir SMS göndeririz. Bunu onaylaman durumunda paranı 1 saatte hesabına yatırırız.</p>
                            </div>
                            <div class="tab-pane fade" id="soru04">
                                <h2 class="title h4">Final fiyat teklifini onaylamazsam ne olur ?</h2>

                                <p>Cihazını sana kargo ile geri göndeririz.</p>
                            </div>
                            <div class="tab-pane fade" id="soru05">
                                <h2 class="title h4">Cihazımı size nasıl göndereceğim ?</h2>

                                <p>Ad, soy ad ve adres gibi bilgilerini içeren formu doldurduğun sırada karşına bulunduğun ile göre en yakın aras kargoya giderek sana gönderdiğimiz kargo numarası ile bize göndermen.</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>