<div class="wrapper">
    <div class="coming-soon--section pd--100-0 text-center">
        <div class="container">
            <div class="logo">
                <a href=""><img src="https://i.hizliresim.com/om90q0i.png" width="200px"></a>
            </div>

            <div class="title">
                <h1 class="h1">Yakında Hizmetinizde.</h1>
            </div>


            <div class="row reset-gutter">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <p class="sub-title">Sosyal medyadan bizi takip etmeye devam edin. Yeniliklerden yararlanın.</p>

                    <div class="subscribe--widget" data-form-validation="true">

                        <div class="social">
                            <ul class="nav">
                                <li><a href="https://www.facebook.com/miniodecom/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/miniode_com/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <p class="copyright">&copy; Miniöde 2017. Tüm Hakları Saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
</div>