<div class="row">
    <div class="mat-elevation-z8">
      <mat-form-field appearance="standard" class="mat-filter">
        <mat-label>Arama</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Bir şeyler Yazın" #input>
      </mat-form-field>
        <table mat-table [dataSource]="dataSource">
      
          <ng-container matColumnDef="brandName">
            <th mat-header-cell *matHeaderCellDef> Marka  Adı </th>
            <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef > Eklenme Tarihi </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedDate">
            <th mat-header-cell *matHeaderCellDef > Güncellenme Tarihi </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
          </ng-container>

          <ng-container matColumnDef="deleteColumn" >
            <th mat-header-cell *matHeaderCellDef > Silme işlemi </th>
            <td [id]="element.id" mat-cell *matCellDef="let element" appDeleteBrand (callback)="getPhoneBrands" controller="PhoneBrand">
              <!--<span class="material-icons" >delete</span>--> </td>
          </ng-container>

          <ng-container matColumnDef="updateColumn" >
            <th mat-header-cell *matHeaderCellDef > Güncelleme işlemi </th>
            <td mat-cell *matCellDef="let element"
             ><mat-icon>edit</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="photoColumn" >
            <th mat-header-cell *matHeaderCellDef > Fotoğraf İşlemi </th>
            <td mat-cell *matCellDef="let element"
             ><mat-icon style="cursor:pointer" (click)="brandImages(element.id)">photo</mat-icon></td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator (page) = "pageChanged()"
                       [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
</div>
