
<button mat-button class="menu-button" routerLink="/alsatminiode-admin">
    <mat-icon>home</mat-icon>
    <span style="font-size:18px">Anasayfa</span>
</button>
<button mat-button class="menu-button" routerLink="admins">
    <mat-icon>account_box</mat-icon>
    <span style="font-size:18px">Admin Yönetim Paneli</span>
</button>
<button mat-button class="menu-button" routerLink="phonebrands">
    <mat-icon>phone_iphone</mat-icon>
    <span style="font-size:18px">Telefon Markaları</span>
</button>
<button mat-button class="menu-button" routerLink="phonemodels">
    <mat-icon>phone_iphone</mat-icon>
    <span style="font-size:18px">Telefon Modelleri</span>
</button>
<button mat-button class="menu-button" routerLink="phonemodelcapacity">
    <mat-icon>phone_iphone</mat-icon>
    <span style="font-size:18px">Telefon Kapasite</span>
</button>
<button mat-button class="menu-button" routerLink="phonequestion">
    <mat-icon>question_answer</mat-icon>
    <span style="font-size:18px">Telefon Soruları</span>
</button>
<button mat-button class="menu-button" routerLink="phonesituations">
    <mat-icon>phone_iphone</mat-icon>
    <span style="font-size:18px">Telefon Durumları</span>
</button>
<button mat-button class="menu-button" routerLink="customers">
    <mat-icon>people</mat-icon>
    <span style="font-size:18px">Müşteriler</span>
</button>
<button mat-button class="menu-button" routerLink="countries">
    <mat-icon>place</mat-icon>
    <span style="font-size:18px">Ülkeler</span>
</button>
<button mat-button class="menu-button" routerLink="cities">
    <mat-icon>place</mat-icon>
    <span style="font-size:18px">Şehirler</span>
</button>
<button mat-button class="menu-button" routerLink="districts">
    <mat-icon>place</mat-icon>
    <span style="font-size:18px">İlçeler</span>
</button>
<button mat-button class="menu-button" routerLink="shippingcompanies">
    <mat-icon>local_shipping</mat-icon>
    <span style="font-size:18px">Kargo Firmaları</span>
</button>
<button mat-button class="menu-button" routerLink="websiteoptions">
    <mat-icon>phone_iphone</mat-icon>
    <span style="font-size:18px">Website Ayarları</span>
</button>
<button mat-button class="menu-button" routerLink="">
    <mat-icon>remove_red_eye</mat-icon>
    <span style="font-size:18px">Siteyi Gör</span>
</button>
